html.page
    head
        title Home
        include ./partials/heads


    body
        div#headerMain
            h1 Hello visitor.
            h3 Welcome to our online restaurent. Feel free to order on the order page
        
        div 
            img(src='./welcome.png' class="welcome")
             