html
	head
		title login
		include ./partials/heads
		
	body
		p UserName: 
				input(type="textbox" id="username" size="25")
				br

		p Password: 
				input(type="password" id="password" size="25")
				br

		button(type="button" onclick="login()") login


		script(type='text/javascript', src='static/login.js')